.mySlides{
	display:none;
	width: 100%;
	height: 250%;
}

.slideshow{
	width: 99%;
	height: 30%;	
	position: absolute;
	margin-top: 40%;
}

.top{
	background-image: url('hotm.jpg');
	height: 50%;
	width: 99%;
	position: absolute;
	background-size: cover;
	margin-bottom: 50%;
}

table{
	float: right;
	border-style:none;
	padding-right: 20px;
	padding-top: 10px;
}

.home{
	float: left;
	padding-left: 7px;
}

.home td{
	border-right: none;
}

.top a{
	color:#ffffff;
	text-decoration: none;
	font-family: Gotham; 
	font-size: 23px;
	padding:7px;
}

.top a:hover{
	border-style: solid;
	border-bottom-color: #ffffff;
}

table td{
	border-right: solid 1px white;
}

.taj{
	top: 57%;
	left: 20%;
	position: absolute;
	font-family: Draconian;
	font-size: 59px;
	text-align: center;
	letter-spacing: 2px;
}

.tajinfo{
	top:210%;
	font-family: Montserrat;
	position: absolute;
	font-size: 25px;
	text-align: center;
	padding-left: 2%;
}

.tajinfo a{
	font-family: Montserrat;
	color: black;
	text-decoration: none;
}

.map{
	top: 165%;
	height: 40%;
	width: 60%;
	left:20%;
	position: absolute;
}

.trident{
	top:222%;
	font-family: Draconian;
	position: absolute;
	font-size: 59px;
	left:35%; 
}

.slideshow2{
	width: 99%;
	height: 70%;	
	position: absolute;
	margin-top: 122%;
}

.mySlides2{
	display:none;
	width: 100%;
	height: 100%;
}

.map2{
	top: 325%;
	height: 40%;
	width: 60%;
	left:20%;
	position: absolute;	
}

.tridentinfo{
	top: 370%;
	font-family: Montserrat;
	position: absolute;
	font-size: 25px;
	text-align: center;
	padding-left: 2%;	
}

.tridentinfo a{
	font-family: Montserrat;
	color: black;
	text-decoration: none;		
}

.marriot{
	font-family: Draconian;
	position: absolute;
	font-size: 59px;
	left:40%;
	top:387%;	
}

.mySlides3{
	display:none;
	width: 100%;
	height: 100%;
}

.slideshow3{
	width: 99%;
	height: 70%;	
	position: absolute;
	margin-top: 205%;
}

.map3{
	height: 40%;
	width: 60%;
	left:20%;
	position: absolute;	
	top: 490%;
}

.marriotinfo{
	font-family: Montserrat;
	position: absolute;
	font-size: 25px;
	text-align: center;
	padding-left: 0;	
	top: 535%;
}

.marriotinfo a{
	font-family: Montserrat;
	color: black;
	text-decoration: none;		
}

.nav{
	top: 555%;
	position: absolute;
	text-align: center;
	padding-left: 17%;
}

.nav td{
	border-right: solid 1px #896633;
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
}

.nav a{
	text-decoration: none;
	color: #896633;
	font-size: 49px;
	font-family: Wida Round Demo;
	font-weight: bold;
}