body{
	background-image: url('mountain.jpg');
	background-size: cover;

}

.sg form{
	border-radius: 10px;
	border-style: solid;
	border-color: white;
	border-width: 0;
	background-color: rgba(255,255,255,0.4);
	margin-left: 38%;
	margin-top: 0	;
	width:20%;
	color:white;
	font-family: Verdana;
	font-size: 21px;
}

.sg p{
	padding-left: 5px;
	padding-top: 3px;
}

input[type="text"]
{
	border-radius: 10px;
	background-color: rgba(255,255,255,0.4);
	width: 90%;
	font-size: 20px;
	padding-left: 5px;
}

input[type="password"]
{
	border-radius: 10px;
	background-color: rgba(255,255,255,0.4);
	width: 90%;
	font-size: 20px;
}

input[type="submit"]
{
	border-radius: 10px;
	border-style: none;
	background-color: rgba(200,200,255,0.5);
	color: white;
	margin-left: 4%; 
	font-size: 30px;
	transition: background-color 1s ease, color 1s ease;
	width: 90%;
	padding-bottom: 2px;
}

input[type="submit"]:hover
{
	background-color: rgba(255,255,255,0.2);
	color: black;
}	